@import './vars';

@mixin set-dark-colors($name, $colors) {
  #{'--' + $name}: map-get($colors, light);

  &.dark {
    #{'--' + $name}: map-get($colors, dark);
  }
}

@mixin a-norm {
  color: currentColor;
  text-decoration: none;
}

@mixin btn-norm {
  border: none;
  outline: none;
  background-color: transparent;
  color: currentColor;
}

@mixin input-norm {
  border: none;
  outline: none;
  background-color: transparent;
}

@mixin figure-norm {
  margin: 0;
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
