@import-normalize;
@import './globals';

:root {
  /* the colors are in _vars.scss */
  @include set-dark-colors('elements', $elements);
  @include set-dark-colors('background', $background);
  @include set-dark-colors('text', $text);
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-size: map-get($font-size, home);
}

a {
  @include a-norm;
  font-weight: 800;
}

section {
  padding: 2em;
}
