@import '../../styles/globals';

.header {
  padding: 0 1em;
  background-color: var(--elements);
  box-shadow: $shadow;

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-weight: 800;
  }
}
