@import '../../styles/globals';

.search {
  background-color: var(--elements);
  box-shadow: $shadow;
  margin-bottom: 2em;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  align-items: center;

  @include desktop {
    margin-bottom: 0;
    width: 350px;
  }

  &__icon {
    margin: 0 1.5em;
    opacity: 0.5;
  }

  &__input {
    @include input-norm;
    flex-grow: 1;

    &::placeholder {
      color: var(--text);
      opacity: 0.5;
    }
  }
}
